.logo {
    height: 30px;
}

.hero {
    background-color: rgb(54, 165, 216);
    height: 100px;
}

.hero {
    background-image: url(../img/pattern.png);
    background-size: contain;
}

thead {
    background-color: rgb(25, 139, 192);
    height: 100px;
}

.casella-colorata{
    background-color:aquamarine;
}

h3 {
    color: rgba(0, 0, 0, 0.6);
}

.img1 {
        background-image: url(../img/monitor.jpg);
        background-repeat: no-repeat;
        color: #FFFFFF;
        height: 200px;
}

.img2 {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    height: 200px;
}

